body{
	--e-global-color-primary					: #15161B;
	--e-global-color-secondary					: #F7F8FD;
	--e-global-color-text						: #9C9FA6;
	--e-global-color-accent						: #3D777F;
	--e-global-color-75c969e					: #ffffff;
	--e-global-color-75c282f					: #E1E4EB;
	--e-global-color-a44a32f					: #163300A6;
	--e-global-typography-primary-font-family	: "Manrope", sans-serif;
}